
        <ngb-tabset>
          <!--Memeber tab -->
            <ngb-tab>
                <ng-template ngbTabTitle><b>Member</b></ng-template>
                <ng-template ngbTabContent>
                    <app-memberdetail></app-memberdetail> 
                </ng-template>                             
            </ngb-tab>
           
            <!--Invoice update tab -->
            <ngb-tab>
                    <ng-template ngbTabTitle><b>Invoice Update</b></ng-template>
                    <ng-template ngbTabContent>                       
                      <app-updateinvoice></app-updateinvoice>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            


