<div style="align-self: center;">{{msg}}</div>
    <!-- Change password form-->
    <div class="modal-body" style="width: 674px;align-self: center;align-items: center; background-color: gainsboro">
      <div class="loginFpCenterDiv">

      <div class="loginFpDiv1">
              <form class="form-forgot" style="height: 311px;" name="myForm" (ngSubmit)="f.form.valid && submitNewpassword() || f.resetForm()" #f="ngForm" novalidate>
                <fieldset>
                    <legend>CHANGE PASSWORD</legend>

                <input type="password" class="form-control" style="margin-bottom: 3%;" id="password" name="password" placeholder="Password" [(ngModel)]="newpassword" #password="ngModel"  ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
                <span class=" alert-danger" *ngIf="f.submitted && !password.valid">This is required field.</span>
                <!--<span class=" alert-danger" *ngIf="!password.$error.required && (password.$error.minlength || f.myForm.password.$error.maxlength) && f.myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
                <span class=" alert-danger" *ngIf="!f.myForm.password.$error.required && !password.$error.minlength && !f.myForm.password.$error.maxlength && f.myForm.password.$error.pattern && f.myForm.password.$dirty">Password Rules do not match.</span>
                -->
                <input type="password" style="margin-bottom: 3%;" class="form-control" id="password_c" name="password_c" placeholder="Confirm Password"  [(ngModel)]="confirmnewpassword" #password_c="ngModel"  ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" valid-password-c="newpassword"  required/>
               <!-- <span class=" alert-danger" *ngIf="f.myForm.password_c.$error.required && f.myForm.password_c.$dirty">This is required field.</span>
                <span class=" alert-danger" *ngIf="!f.myForm.password_c.$error.required && f.myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
               -->
               <button type="submit" class="btn btn-secondary btn-lg noround btn-block" 
               style="width: 35%;float: right;margin-top: 5%; background-color:#fba2b30;" 
               [disabled]="!f.form.valid">Submit</button>
      </fieldset>
      </form>
      </div>
      <div class="loginFpDiv2"><img style="width: 269px;    margin-left: 15px;" src="./../forgotpassword.jpg"></div>
      
      </div>

    </div>