
        <ngb-tabset>
               <!--User Management tab -->
               <ngb-tab>
                  <ng-template ngbTabTitle><b>User Management</b></ng-template>
                  <ng-template ngbTabContent>                       
                        <app-usermgmt></app-usermgmt>
                  </ng-template>
              </ngb-tab>

                   <!--City Mapping Management tab -->
            <ngb-tab>
                <ng-template ngbTabTitle><b>City Mapping Management</b></ng-template>
                <ng-template ngbTabContent>                       
                    <app-citymgmt></app-citymgmt>
                </ng-template>
            </ngb-tab>

          <!--Address Management tab -->
            <ngb-tab>
                <ng-template ngbTabTitle><b>Address Management</b></ng-template>
                <ng-template ngbTabContent>
                    <app-addressmgmt></app-addressmgmt> 
                </ng-template>                             
            </ngb-tab>
         
        </ngb-tabset>
            